.header {
  z-index: 100;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  height: 124rem;
  width: 100%;
  max-width: 1728rem;
  transition: color 0.2s ease-in-out;

  &__portrait {
    color: var(--background);
  }

  &__logo {
    grid-area: 1 / 2 / 1 / 3;
  }
  
  &__logo svg {
    transform: translateX(-50%);
    width: 54rem;
    height: 37rem;
  }
  
  &__title {
    grid-area: 1 / 3 / 13 / 15;
    text-align: center;
    font-family: var(--font-bellefair);
    font-size: 24rem;
  }

  &__portrait &__title {
    display: none;
  }
  
  &__actions {
    grid-area: 1 / 3 / 1 / 16;
    display: flex;
    gap: 0rem;
    align-items: center;
    justify-content: flex-end;
  }
  
  &__burger {
    position: relative;
    padding: 24rem;
    margin-right: -32rem;
  }
  
  &__burger svg {
    width: 22rem;
    height: 13rem;
  }

  &__menu {
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: -16rem;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 24rem;
    padding: 112rem 24rem 40rem 24rem;
    width: 230rem;
    height: 50rem;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    font-family: var(--font-bellefair);
    font-size: 16rem;
    text-transform: uppercase;
    text-align: center;
    border-radius: 16rem;
    backdrop-filter: blur(30px);
    transition: all 0.3s ease-in-out;
    pointer-events: none;

    a {
      opacity: .7;
      transition: opacity 0.2s ease-in-out;
    }

    a:hover {
      opacity: 1;
    }
  }

  &__burger:hover &__menu {
    opacity: 1;
    height: 150rem;
    pointer-events: auto;
  }

  @media (max-aspect-ratio: 1/1) or (max-height: 768px) {
    height: 100px;

    &__logo svg {
      transform: none;
      width: 34px;
      height: 23px;
    }
    
    &__title {
      display: none;
    }
  
    &__burger {
      padding: 24px;
      margin-right: -24px;
    }

    &__burger svg {
      width: 22px;
      height: 13px;
    }

    &__menu {
      top: -8px;
      right: 6px;
      gap: 24px;
      padding: 112px 12px 40px 12px;
      width: 208px;
      height: 50px;
      font-size: 16px;
      border-radius: 16px;
    }

    &__burger:hover &__menu {
      height: 150px;
    }
  }
}

