.gallery {
  width: 100%;
  max-width: 1290rem;
  margin: 0 auto 150rem auto;
  padding-top: 285rem;
  columns: 3;
  column-gap: 61rem;

  &__img {
    border: 1px solid var(--foreground);
    margin-bottom: 61rem;
    
    img {
      height: auto;
      width: 100%;
    }
  }

  @media (max-aspect-ratio: 1/1) or (max-height: 768px) {
    columns: 2;
    padding-top: 500rem;
    max-width: clamp(300px, calc(100% - 500rem), 430px);
  }
}