.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  max-width: 1290rem;
  margin: 285rem auto 306rem auto;
  gap: 61rem;

  &__spacer { aspect-ratio: 1290/595; } // spacer

  &__img {
    background-size: cover;
    background-position: center;
    border: 1px solid var(--foreground);
  }

}