.about {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 100%;
  max-width: 1728rem;
  aspect-ratio: 1728/1117;
  margin: 0 auto;
  margin-bottom: 100vh;

  &__img {
    position: relative;
    z-index: 1;
    grid-area: 1 / 1 / span 16 / span 16;
    clip-path: polygon(calc(100% / 16 * 4) calc(100% / 16 * 4), calc(100% / 16 * 12) calc(100% / 16 * 4), calc(100% / 16 * 12) calc(100% / 16 * 8), calc(100% / 16 * 4) calc(100% / 16 * 8));
    
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    grid-area: 9 / 11 / span 4 / span 6;
    display: flex;
    align-items: center;
    font-size: 72rem;
    font-family: var(--font-bellefair);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
  }

  &__text {
    grid-area: 13 / 12 / span 3 / span 3;
    font-size: 16rem;
    line-height: 1.5;
    opacity: 0.75;
  }
  
  &__scroll {
    grid-area: 15 / 3 / span 2 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
  }
  
  &__scroll svg {
    width: 82rem;
    height: 97rem;
  }

  @media (max-aspect-ratio: 1/1) or (max-height: 768px) {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 500rem);
    min-height: calc(100vh - 600rem);
    padding-top: 300rem;

    &__img {
      width: calc(100% + 500rem);
      height: auto;
      margin-left: -250rem;
      margin-right: -250rem;
      margin-top: 400rem;
    }

    &__title {
      font-size: 48px;
      margin-top: 250rem;
    }

    &__text {
      font-size: 16px;
      margin-top: 150rem;

    }

    &__scroll {
      display: none;
    }
  }
}